# Nuxt dev/build outputs
.output*
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Custom
.vercel
content/posts/test.md
# Tencent Cloud EdgeOne
.env
.edgeone
.edgeone/*
.tef_dist/*

# friend
public/friend.json

.chrome-lh*
lighthouse*.json
.tmp